<!-- <a href="/formdata"><button type="button" class="btn btn-success m-3">Go Back</button></a> -->
<div class="container ">
    <h3>Add User</h3>
    <hr>
    <form action="" enctype="multipart/form-data">

        <label for="name">Name</label>
        <!-- [(ngModel)]="regi_Model.fname" -->
        <input type="text" id="Name" name="username" [(ngModel)]="regi_Model.username" class="form-control" placeholder="Name" required>

        <label for="Email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="regi_Model.email" placeholder="Email" required>


        <label for="MobileNo">MobileNo</label>
        <input type="MobileNo" id="MobileNo" name="mobileNo" [(ngModel)]="regi_Model.MobileNo" required>


        <label for="gender">gender</label>
        <input type="text" id="gender" name="gender" [(ngModel)]="regi_Model.gender" placeholder="gender" required>

        <label for="password">password</label>
        <input type="password" id="password" name="password" [(ngModel)]="regi_Model.password" placeholder="password" required>

        <input type="submit" (click)="Register()"  value="Submit">
    </form>
</div>